html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

* {
    box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

body {
    font-family: 'Fira Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.25;
    color: #191c1d;
    background-color: #abafae;
}

.landing {
    background: #7CB283;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: top left;
    z-index: 0;
    width: 100%;
    height: 665px;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

#header .container {
    position: relative;
    height: 120px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 1020px) {
    .container {
        width: 930px;
    }
}

@media (min-width: 1300px) {
    .container {
        width: 1130px;
    }
}

@media (min-width: 1560px) {
    .container {
        width: 1370px;
    }
}

a {
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

a {
    color: #191c1d;
    text-decoration: none;
}

a {
    background-color: transparent;
}

.container {
    margin-right: auto;
    margin-left: 120px;
    padding-right: 15px;
}

.hero-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

#header #site-title .svg-wordmark {
    display: block;
    width: 10.65rem;
    height: 5.9rem;
    padding-bottom: 1em;
}

#header .header-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#header #site-title {
    position: relative;
    display: block;
    margin: 0;
    z-index: 1030;
}

#header #site-title a {
    display: block;
}


/* 
nav#nav-main {
  position: relative;
  margin-left: auto;
  z-index: 1030;

  float: left;
  display: block;
}

nav#nav-main ul {
  margin: 0 -1.5rem 0 0;
  text-align: right;
}

nav#nav-main ul li {
  display: inline-block;
}

nav#nav-main ul li a {
  position: relative;
  display: block;
  color: white;
  padding: 4rem 2rem;
} */

.topnav {
    overflow: hidden;
    z-index: 1030;
    margin-left: auto;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding: 4rem 2rem;
}

.topnav .nav-icon {
    display: none;
}

#menu-bars {
    width: 30px;
    height: 30px;
}

#banner {
    display: none;
}

@media screen and (max-width: 1024px) {
    .topnav a {
        padding-top: 4rem;
        padding-right: 1rem;
    }
}

@media screen and (max-width: 750px) {
    .topnav a {
        display: none;
    }
    .topnav a.nav-icon {
        float: right;
        display: block;
    }
    #banner {
        display: block;
        position: absolute;
        top: 2rem;
        left: 0;
        z-index: 10;
    }
    #banner svg {
        width: 10.65rem;
        height: 5.9rem;
        padding: 1em;
        background-color: transparent;
    }
}

@media screen and (max-width: 750px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .nav-icon {
        position: relative;
        padding-top: 4rem;
        padding-right: 1rem;
        right: 0;
        top: 0;
    }
    .topnav.topnav.responsive a:hover {
        color: black;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: right;
        padding: 0.5rem;
    }
    .site-img svg {
        visibility: hidden;
    }
}

li {
    list-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

#main {
    color: white;
    height: 100%;
}

#hero {
    position: relative;
    padding: 16.5rem 0 3rem;
    overflow: hidden;
    font-size: 3.6rem;
    line-height: 1;
    letter-spacing: -0.02em;
    height: 100%;
}

#hero .container {
    position: relative;
    z-index: 2;
}

.hero-text {
    width: 50%;
}

.hero-title {
    font-weight: 300;
    font-size: 1em;
}

.hero-subtitle {
    letter-spacing: -0.01em;
    font-family: 'Inter', sans-serif;
    padding-top: 0.75em;
    font-weight: 200;
    font-size: 0.35em;
    line-height: 28px;
}

#hero-button {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 13px;
    border-radius: 9px;
    background-color: #7CB283;
    height: 40px;
    width: 220px;
    outline: none;
    border: none;
    margin-bottom: 7px;
}

#button-text {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 13px;
    font-style: italic;
    line-height: 18px;
    color: white;
    letter-spacing: .1px;
}

#square-motif {
    width: 800px;
    position: absolute;
    right: 0;
    top: 180px;
}

.rect {
    display: flex;
    flex-direction: row;
    background-color: #191c1d;
    padding: 120px;
    flex-wrap: wrap !important;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 100px;
}

.card p {
    color: #C2C3C3;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 20px;
    letter-spacing: .3px;
}

.card button {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 13px;
    border-radius: 9px;
    background-color: #7CB283;
    height: 39px;
    width: 110px;
    outline: none;
    border: none;
}

#dummy-image {
    width: 270px;
    height: 270px;
    margin-bottom: 30px;
}

.details {
    order: 2;
    width: 50%;
}

.content {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 0.025em;
    line-height: 132.7%;
    color: #c2c3c3;
    width: 40%;
}

@media (max-width: 1360px) {
    #square-motif {
        width: 600px;
        top: 250px;
    }
}

@media (max-width: 850px) {
    .rect {
        padding: 70px;
    }
    .content {
        width: 100%;
        font-size: 13px;
    }
    .content p {
        width: 100% !important;
    }
    #sub p {
        width: 90% !important;
    }
    #bottom-image {
        display: none !important;
    }
    #b-content {
        margin-top: 0;
    }
    #square-motif {
        width: 400px;
        top: 250px;
    }
    .hero-title {
        font-size: 0.8em;
    }
    #hero {
        padding: 12.5rem 0 1rem;
    }
}

@media (max-width: 510px) {
    #footer {
        padding: 80px 20px 50px 20px !important;
    }
    #square-motif {
        width: 100px;
        top: 600px;
    }
    .hero-title {
        font-size: 1.1em !important;
    }
    .hero-flex {
        width: 70%;
    }
    #hero {
        padding: 12.5rem 0 1rem;
    }
    .hero-subtitle {
        letter-spacing: -0.01em;
        font-family: 'Inter', sans-serif;
        padding-top: 0.75em;
        font-weight: 200;
        font-size: 0.3em;
    }
    #hero-sideimage {
        display: none;
    }
    .hero-text {
        width: 90% !important;
    }
    #street-cred {
        margin-top: 78px !important;
    }
}

@media (max-width: 950px) {
    .rect {
        padding: 50px !important;
    }
    .container {
        margin-left: 50px !important;
    }
    #footer {
        padding: 80px 20px 50px 50px !important;
    }
    #cards {
        justify-content: space-around;
    }
    #dummy-image {
        width: 390px;
        height: 390px;
        margin-bottom: 30px;
    }
    .content p {
        width: 100% !important;
    }
    .content {
        font-size: 13px;
    }
    #square-motif {
        width: 450px;
        top: 320px;
    }
    #hero-sideimage {
        height: 150px !important;
        width: 150px !important;
    }
    .hero-text {
        width: 70%;
    }
}

.content p {
    width: 90%;
    margin: 0;
}

#heading {
    font-family: 'Fira Sans', sans-serif;
    font-size: 21px;
    letter-spacing: 0.01em;
    color: #bacae6;
    position: relative;
    top: 75px;
    /* left: 10px; */
}

#intro-image {
    height: 100px;
    position: absolute;
}

#sub {
    color: #c2c3c3;
    letter-spacing: 0.025em;
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    position: relative;
    top: 90px;
    /* left: 5px; */
}

#heading-sign {
    color: #c2c3c3;
    letter-spacing: 0.025em;
    font-size: 22px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

#sub p {
    border-top: 1px solid white;
    width: 300px;
    padding-top: 15px;
    padding-right: 20px;
}

.menu-items {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #c2c3c3;
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    line-height: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
}

#bottom-image {
    height: 300px;
    padding-left: 20px;
}

.drop-btn {
    background: transparent;
    outline: none;
    border: none;
    float: right;
}

.dropdown {
    display: block;
}

.dropdown-content {
    transition: max-height 0.4s ease-out;
    max-height: 0;
    overflow: hidden;
}

.show {
    max-height: 200px;
    transition: max-height 0.4s ease-in;
}

#sub-drop {
    color: #c2c3c3;
    letter-spacing: 0.025em;
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    padding-bottom: 30px;
    position: relative;
    left: 20px;
}

.rotate {
    transform: rotate(180deg);
    transition: all 0.4s;
}

.normal-position {
    transition: all 0.4s;
    height: 25px;
}

#footer {
    padding: 80px 40px 50px 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #abafae;
}

#footer-menu {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

#footer-1 {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    flex-wrap: wrap;
}

#footer a {
    color: white;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    padding-bottom: 7px;
}

#footer a:hover {
    color: #191c1d;
}

#footer-contact {
    width: 80%;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

#footer-address p {
    padding-bottom: 7px;
}

#footer-contact p {
    padding-bottom: 7px;
}

#footer-2 {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: flex-end;
}

#footer-social {
    display: flex;
    flex-direction: column;
}

#street-cred {
    color: #c6cbc9;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    margin-top: 60px;
}

#street-cred a {
    color: #c6cbc9;
}

@media (max-width: 700px) {
    .details {
        display: none;
    }
}

@media (min-width: 701px) {
    #under-drop {
        display: none;
    }
}